<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HIPC Cell Validation Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
body {
  padding: 1em;
}
form {
  padding-bottom: 1em;
}
.conflict, .error {
  font-weight: bold;
  color: red;
}
    </style>
  </head>
  <body>
    <h1>HIPC Gates Validation Demo</h1>

    <div class="container-fluid">

      <p>The gate "{{ special_gate }}" is on our <a href="https://docs.google.com/spreadsheets/d/1jCieXeH_T83d0K3n_3W8QFiCrN4AASw5FlP0nezPhOI/edit?usp=sharing">list of special gates</a>, and has not yet been mapped to an ontology.</p>

      <p><a href="/" style="font-weight: bold">Back to the demo.</a></p>

      <p>See the source code: <a href="https://github.com/jamesaoverton/hipc-gates">https://github.com/jamesaoverton/hipc-gates</a><p>

    </div>

  </body>
</html>
