<table class="table table-bordered table-light">
	<thead class="thead-dark">
		<tr>
			<th>populationNameReported</th>
			<th>populationDefnitionReported</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>basophil</td>
			<td class="table-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD123 has high expression">CD66b-, CD123+, CD294+, CD38+, HLADR-</td>
		</tr>
		<tr>
			<td>transitional stage B cell</td>
			<td class="table-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD38 has high expression">CD66b-, CD45+, CD19+, CD20+, CD27-, IgD+, CD38+, CD39-</td>
		</tr>
		<tr>
			<td>unswitched memory B cell</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD27 must be positive">CD66b-, CD45+, CD19+, CD20+, CD27-, IgD+</td>
		</tr>
		<tr>
			<td>plasmablast</td>
			<td class="table-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD27 has high expression">CD66b-, CD45, CD19, CD20-, CD38+, CD27+, CD71+</td>
		</tr>
		<tr>
			<td>CD16-negative, CD56-bright natural killer cell, human</td>
			<td class="table-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD56 has high expression">CD66b-, CD45+, CD3-, CD56+, CD16-</td>
		</tr>
		<tr>
			<td>
			CD16-positive, CD56-dim natural killer cell, human</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD56 must be low">CD66b-, CD45+, CD3-, CD56, CD16+, CD57+</td>
		</tr>
		<tr>
			<td>
			CD16-positive, CD56-dim natural killer cell, human</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD56 must be low">CD66b-, CD45+, CD3-, CD56, CD16+, CD57-</td>
		</tr>
		<tr>
			<td>CD4-positive, CD25-positive, alpha-beta regulatory T cell</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD127 must be low">CD66b-, CD45+, CD3+, CD4+, CD25+, CD127-</td>
		</tr>
		<tr>
			<td>CD4-positive, CD25-positive, alpha-beta regulatory T cell</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD127 must be low">CD66b-, CD45+, CD3+, CD4+, CD25+, CD127-, CD45RA-, CD45RO+, CCR4+, CD39+</td>
		</tr>
		<tr>
			<td>CD4-positive, CD25-positive, alpha-beta regulatory T cell</td>
			<td class="table-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="For this cell population, CD127 must be low">CD66b-, CD45+, CD3+, CD4+, CD25+, CD127-, CD45RA-, CD45RO+, CCR4+, CD39-</td>
		</tr>
	</tbody>
</table>