<table class="table table-bordered table-light">
	<thead class="thead-dark">
		<tr>
			<th>populationNameReported</th>
			<th>populationDefnitionReported</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>neutrophil</td>
			<td>CD66b+, CD16-, CD294-</td>
		</tr>
		<tr>
			<td>neutrophil</td>
			<td>CD66b+, CD16+, CD294-</td>
		</tr>
		<tr>
			<td>eosinophil</td>
			<td>CD66b+, CD16+, CD294+</td>
		</tr>
		<tr>
			<td>naive B cell</td>
			<td>CD66b-, CD45+, CD19+, CD20+, CD27-, IgD+</td>
		</tr>
		<tr>
			<td>class switched memory B cell</td>
			<td>CD66b-, CD45+, CD19+, CD20+, CD27+, IgD-</td>
		</tr>
		<tr>
			<td>IgD-negative memory B cell</td>
			<td>CD66b-, CD45+, CD19+, CD20+, CD27-, IgD-</td>
		</tr>
		<tr>
			<td>B cell</td>
			<td>CD66b-, CD45+, CD19+, CD20+, CD11c+, CXCR5-</td>
		</tr>
		<tr>
			<td>B cell</td>
			<td>CD66b-, CD45+, CD19+, CD20+, CD71+</td>
		</tr>
		<tr>
			<td>mature NK T cell</td>
			<td>CD66b-, CD45+, CD3+, CD56+, CD4+</td>
		</tr>
		<tr>
			<td>mature NK T cell</td>
			<td>CD66b-, CD45+, CD3+, CD56+, CD8+</td>
		</tr>
	</tbody>
</table>