{% extends "base.html" %}
{% block content %}
<h1 class="mt-3">Cell Name and Marker Validator</h1>

<p class="lead">
  Some description...
</p>

<p>On this site you fill find:</p>
<ul>
  <li>controlled <a href="/terminology">terminology</a> of cell population names from <a href="/terminology/co/">Cell Ontology</a></li>
  <li>controlled <a href="/terminology">terminology</a> of gate names from <a href="/terminology/pro/">Protein Ontology</a></li>
  <!-- TODO: special gates -->
  <li><a href="/instructions">instructions</a> for using the validator</li>
  <li><a href="/examples">examples</a> of results from the validator</li>
  <li>web-based <a href="/validator">validator</a></li>
</ul>
{% endblock %}